.pokemon-api {
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.607)), url(./pictures/pokeposter.webp);
    background-size: cover;
}

.pokemon-display {
    display: none;
}

.pokemon-img {
    width: 300px;
    height: 300px;
    object-fit:contain;
}

.innerpoke {
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: center;
}

.pokemon-name {
    font-size: 30px;
    color: white;
}